.main{
  height:50vh;
  height: calc(var(--vh, 1vh) * 50);
  background-color: $white;
  .row{
    flex-direction: column;
    justify-content:cen
    h2{
      .line{
        span{

        }
      }
    }
    .btn-row{
      a{
        svg{

        }
      }
    }
  }
}