.cases{
  height: 50vh;
  height: calc(var(--vh, 1vh) * 50);
  .cases-navigation{
    position: absolute;
    width:100%;
    bottom:0px;
    displa
    .cases-arrow{
      svg{
        
      }
      &.disabled{
          
      }
    }
  }
  .row{
    .case{
      .case-details{
        span{

          h2{

          }
        }

      }
      .case-image{
        img{

        }
      }
    }
  }
}